:root {
  --primary: #232f3e;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  background: url("./assets/gym.png");
  background-size: cover;
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-position: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
  text-shadow: -8px -6px 0px #494742;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  -webkit-text-stroke-width: thin;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
  font-weight: 900;
}

a:hover {
  text-decoration: underline;
}

header {
  height: 200px;
}

header a {
  color: #4ed8ed;
}

.categories {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.categories button {
  margin-right: 15px;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: #ed954e;
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

.exercise {
  object-fit: contain;
}

.items {
  display: flex;
  justify-content: space-around;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}
.navigation {
  margin: auto;
}

.navigation a {
  padding-right: 50px;
  color: #000000;
}

.container {
  width: 35%;
  max-width: 1200px;
  margin-left: 10%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.center {
  margin: auto;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 200px;
  text-align: center;
  margin: 15px 2px;
  background-color: white;
  border-radius: 5px;
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

/* chat gpt */
.card {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  max-width: 300px;
  text-align: center;
  font-family: roboto;
  background: padding-box;
  background-color: rgb(255 255 255 / 4%);
  height: 280px;
}

.exercise {
  border-radius: 5px 5px 0 0;
}

.card p {
  text-align: center;
  margin: 2px;
  border-radius: 5px;
}

.card div {
  padding: 10px;
}

.card button {
  box-shadow: -1px -1px 5px 2px rgb(0 0 0 / 20%);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: roboto;
}

.card button:hover {
  opacity: 0.7;
}
